<ul>
  <li>Board Number: <%= @chat_room.room_code  %></li>
  <li>Created By: <%= @chat_room.user_name %></li>
  <li>Created On: <%= display_date(@chat_room.created_at) %></li>
</ul>

<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg', data: { disable_with: 'Sending...' } %>
<% end %>